{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/href-no-hash": "off",
    "react/jsx-filename-extension": "off",
    "no-use-before-define": "off",
    "jsx-a11y/anchor-is-valid": "off",

    "import/no-cycle": "off", // TODO: fix
    "react/prop-types": "off",
  }
}
